# A project on **Content-based Recommendation Systems**

Recommendation systems are a collection of algorithms used to recommend items to users based on information taken from the user. These systems have become ubiquitous, and can be commonly seen in online stores, movies databases and job finders. In this project, we will explore Content-based recommendation systems and implement a simple version of one using Python and the Pandas library.

Dataset has been  acquired from GroupLens. Lets download the dataset. To download the data, we will use !wget to download it from IBM Object Storage.

In [1]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip

--2020-09-23 05:22:59--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  38.6MB/s    in 3.9s

2020-09-23 05:23:04 (38.8 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

In [2]:
print('unziping ...')
!unzip -o -j moviedataset.zip

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

Now, we have the data and we will start working on it.

**Required Libraries:**

In [3]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### **Preprocessing**

**Converting files into dataframe**

In [4]:
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')
movies_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

Let's also remove the year from the __title__ column by using pandas' replace function and store in a new __year__ column.

In [5]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

With that, let's also split the values in the __Genres__ column into a __list of Genres__ to simplify future use.

In [6]:
#Every genre is separated by a | so we simply have to call the split function on |
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

Since keeping genres in a list format is not optimal for the content-based recommendation system technique, we will convert the list of genres to a vector where each column corresponds to one possible value of the feature. In this case, we store every different genre in columns that contain either 1 or 0 where 1 shows that a movie has that genre and 0 shows that it doesn't. Let's also store this dataframe in another variable since genres won't be important for our first recommendation system.

In [7]:
movies_df.shape

(34208, 4)

In [8]:
moviesWithGenres_df = movies_df.copy()

In [9]:
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       0.0                0.0
1        2                      Jumanji  ...       0.0                0.0
2        3             Grumpier Old Men  ...       0.0                0.0
3        4            Waiting to Exhale  ...       0.0                0.0
4        5  Father of the Bride Part II  ...       0.0                0.0

[5 rows x 24 columns]

Now. coming to the ratings dataset

In [10]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. We won't be needing the timestamp column, so we will drop it.

In [11]:
#Dropping a 'timestamp' column from a dataframe as we do not need it.
ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

Let's begin by creating an input user to recommend movies to:

In [12]:
userInput = {'title':['Breakfast Club, The', 'Toy Story', 'Jumanji', 'Pulp Fiction', 'Akira'], 'rating':[5,3.5,2,5,4.5]}
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

Adding movieId to input user.We will extract the input movie's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movie's title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [13]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputId.head()

      movieId  ...  year
0           1  ...  1995
1           2  ...  1995
293       296  ...  1994
1246     1274  ...  1988
1885     1968  ...  1985

[5 rows x 4 columns]

In [14]:
#merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
inputMovies.head()

   movieId                title  ...  year rating
0        1            Toy Story  ...  1995    3.5
1        2              Jumanji  ...  1995    2.0
2      296         Pulp Fiction  ...  1994    5.0
3     1274                Akira  ...  1988    4.5
4     1968  Breakfast Club, The  ...  1985    5.0

[5 rows x 5 columns]

In [15]:
#Dropping information we won't use from the inputMovies dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
inputMovies.head()

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

We're going to start by learning the input's preferences, so  we will get the subset of movies that the input has watched from the Dataframe containing genres defined with binary values i.e.,0 and 1.

We will only need the actual genre table, so let's clean this up a bit by resetting the index and dropping the movieId, title, genres and year columns.

In [16]:
#Filtering out the movies from the input
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
#Resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)
userMovies.head()

   movieId                title  ... Film-Noir (no genres listed)
0        1            Toy Story  ...       0.0                0.0
1        2              Jumanji  ...       0.0                0.0
2      296         Pulp Fiction  ...       0.0                0.0
3     1274                Akira  ...       0.0                0.0
4     1968  Breakfast Club, The  ...       0.0                0.0

[5 rows x 24 columns]

In [17]:
#Dropping unnecessary attributes
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        1.0       1.0  ...      0.0        0.0                 0.0
1        1.0        0.0       1.0  ...      0.0        0.0                 0.0
2        0.0        0.0       0.0  ...      0.0        0.0                 0.0
3        1.0        1.0       0.0  ...      0.0        0.0                 0.0
4        0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

Now, we are going to turn each genre into weights. We can do this by using the
dot product between a matrix  (userGenreTable) and a vector (input ratings) .

In [18]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [19]:
#Dot product to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

Now, we have the weights for every of the user's preferences. Generally, this is known as the User Profile. Using this, we can recommend movies that satisfy the user's preferences.

Extracting the genre table from the original dataframe:

In [20]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
genreTable.head()

         movieId                        title  ... Film-Noir (no genres listed)
movieId                                        ...
1              1                    Toy Story  ...       0.0                0.0
2              2                      Jumanji  ...       0.0                0.0
3              3             Grumpier Old Men  ...       0.0                0.0
4              4            Waiting to Exhale  ...       0.0                0.0
5              5  Father of the Bride Part II  ...       0.0                0.0

[5 rows x 24 columns]

In [21]:
#And drop the unnecessary information
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [22]:
genreTable.shape

(34208, 20)

With the input's profile and the complete list of movies and their genres in hand, we're going to take the weighted average of every movie based on the input profile and recommend the top twenty movies that most satisfy it.

In [23]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.594406
2    0.293706
3    0.188811
4    0.328671
5    0.188811
dtype: float64

In [24]:
recommendationTable_df.shape

(34208,)

In [25]:
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df.head(10)

movieId
5018      0.748252
26093     0.734266
27344     0.720280
148775    0.685315
6902      0.678322
117646    0.678322
64645     0.671329
81132     0.671329
122787    0.671329
2987      0.664336
dtype: float64

So, finally we have the recommendation table:

In [26]:
#Highest rating predicted for movie ID 5018

#The final recommendation table
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())]

       movieId  ...  year
664        673  ...  1996
1824      1907  ...  1998
2902      2987  ...  1988
4923      5018  ...  1991
6793      6902  ...  2002
8605     26093  ...  1962
8783     26340  ...  1976
9296     27344  ...  1999
9825     32031  ...  2005
11716    51632  ...  2003
11751    51939  ...  2007
13250    64645  ...  1968
16055    81132  ...  2010
18312    91335  ...  2009
22778   108540  ...  2012
22881   108932  ...  2014
25218   117646  ...  2000
26442   122787  ...  1959
32854   146305  ...  2000
33509   148775  ...  2009

[20 rows x 4 columns]

**Here, recommended movies are arranged in ascending order by movie ID an are top 20 movies in descending order by prediction value i.e., [0,1]**












Thanks

Arun Virha